<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<!-- Trigger/Open The Modal -->
<button id="myBtn" (click)="openModal($event);">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="closeModal($event);">&times;</span>
    <p>Some text in the Modal..</p>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>

<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
